<!--
a:link {color: #660099}     /* unvisited link; old: #660099 */
a:visited {color: #660099}  /* visited link; old: #660099 */
a:hover {color: red}     /* mouse over link; old: #088A08 */
a:active {color: red}    /* selected link */

a   { text-decoration:none;  }

body { background-color: white; }

.typepubs a:link {color: maroon; font-weight: bold;}     /* unvisited link */
.typepubs a:visited {color: maroon; font-weight: bold;}  /* visited link */
.typepubs a:hover {color: red}     /* mouse over link */
.typepubs a:active {color: red}    /* selected link */

#main {
        margin-left: auto;
	margin-right: auto;
	font: 16px Arial;
	font-stretch: 10%;
	width: 65%;
	text-align:left;
	padding: 0px 15px 15px;
	cellpadding: 15px;
	border: 1px solid;
        border-color: #006400;
	rules: none;
	frame: box;
	background-color: white;
}

table.pubstable {
	font: 13px Helvetica;
	font-stretch: 10%;
	align: center;
	padding: 0px 0px 0px 35px;
	cellpadding: 50px 50px 50px 0px;
	border: 0;
	width: 100%;
}

table.projtable {
        table-layout: fixed;
	cellpadding: 10px;
	width: 100%;
}

img.logo {
    vertical-align: middle;
    width: 100%;
}

/* Apply padding to td elements that are direct children of the tr element. */
tr.spaceUnder > td
{
  padding-bottom: 2em;
}


table.navtable {
    	width: 100%;
    	font: 20px Helvetica;
	font-stretch: 10%;
	align: center;
	padding: 0px 0px 0px 0px;
	cellpadding: 0px 0px 0px 0px;
	border-width: 2px;
}


p.projdesc {
        text-align: justify;
}

p.projtitle{
    font-weight: bold;
    font-size: 18px;
}

td.paperlink {
        text-align:center;
}

.centeredImage {
        text-align:center;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}

div.hbar {
        clear: both;
	margin-top: 0em;
	border-top: solid;
	border-top-width:3px;
	padding-top: 0em;
}

div.thinhbar {
        clear: both;
	margin-top: 0em;
	border-top: solid;
	border-top-width:2px;
	padding-top: 0em;
        width:50%;
}


ul.nobullets {
    list-style-type: none;
}

div#News
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#About
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#Projects
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#Publications
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#Students
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#Service
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#Teaching
{
  margin: 0px 20px 0px 20px;
  display: none;
}

.navtitle {
  display: none;
}

#navbar {
  margin: 0em;
}

#navbar ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
/*  width: 100%; */
  width: 70%; 
  font: 15px Helvetica;
  letter-spacing:1.8px;
  text-transform:uppercase; 
  font-stretch: 10%;
}
#navbar > ul > li {
  margin: 0.2em 0.5em;
  padding: .5em;
  display: inline-block;
  background-color: green;   /* fallback */
  background-color: OliveDrab;
  border-style: none;
  border-radius: 5pt;
  color: black;
}
#navbar > ul > li:hover {
  background-color: orange;
  color: black;   
}
#navbar > ul > li.active {
  background-color: orange;
}



.pubnavtitle {
  display: none;
}

#pubnavbar {
  margin: 0em;
}
#pubnavbar ul {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
  font: 12px Helvetica;
  letter-spacing:1.8px;
  text-transform:uppercase; 
  font-stretch: 10%;
}
#pubnavbar > ul > li {
  margin: 0.2em 0.5em;
  padding: .5em;
  display: inline-block;
  background-color: gree;   /* fallback */
  background-color: OliveDrab;
  border-style: none;
  border-radius: 5pt;
  color: black;
}
#pubnavbar > ul > li:hover {
  background-color: orange;
  color: black;   
}
#pubnavbar > ul > li.active {
  background-color: orange;
}

div#bytime
{
  margin: 0px 20px 0px 20px;
  display: none;
}

div#bytype
{
  margin: 0px 20px 0px 20px;
  display: block;
}


div#byarea
{
  margin: 0px 20px 0px 20px;
  display: none;
}


#footer {
	font: 12px Arial;
	font-stretch: 10%;
	color: gray;
}


-->