@font-face {
  font-family: "Icon";
  src: url("../fonts/icons.woff") format("woff");
}
@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon.woff");
}
body {
  font-size: 12pt;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 2em;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 48pt;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 24pt 0 24pt -2px;
}

h2 {
  font-weight: 300;
  margin: 24pt 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

h3 {
  margin: 2em 0 1em;
}

a {
  color: #04a;
}
a:hover:not(.execFade) {
  color: #15b;
}
a:active:not(.execFade) {
  color: #048;
}
a:not(:hover) {
  text-decoration: none;
}

header > a,
#examples a:not(:first-child) {
  margin-left: 1em;
}

section:not(.home) {
  display: none;
}

input[type="text"], textarea, button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 1em 0;
}

.option, button {
  margin: 1.5em 0;
}

.regex {
  font-family: monospace;
  font-size: .9em;
}

.fade {
  opacity: 0.5;
}

input, textarea {
  outline: none;
  border: 1px solid #aaa;
  padding: .4em;
}

input.mono {
  font-family: monospace;
}

select {
  outline: none;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

input:focus,
input.focus,
textarea:focus {
  border-color: black;
}

button {
  background: #04a;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background: #15b;
  color: #fff;
}
button:active {
  background: #048;
  color: rgba(255, 255, 255, 0.6);
}
button:disabled {
  background: #aaa;
  pointer-events: none;
}

.load {
  visibility: hidden;
  font-family: "Icon";
  position: absolute;
}

/* Icon nav */
header.icon {
  /*width: 9em;*/ /*ORIGINAL*/
  width: 6em;
  font-family: "Icon";
  font-size: 26pt;
  overflow: hidden;
  margin-left: -.1em;
}
header.icon ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.icon ul li {
  float: left;
  color: #04a;
  opacity: 0.5;
  cursor: pointer;
}
header.icon ul li:hover {
  opacity: 1;
}
header.icon ul li.active {
  opacity: 1;
  pointer-events: none;
}
header.icon ul.tabs li {
  margin-right: 1em;
}
header.icon ul.tabs li.disabled {
  color: #ddd;
  pointer-events: none;
}

/* Home */
section.home .content {
  width: calc((100% / 2) - 100px);
  min-width: 480px;
  float: left;
}
section.home .content li {
  margin: 1em 0;
}
section.home .content pre {
  padding: .2em 0;
  overflow: auto;
}

section.home .shivizexample {
  float: left;
  padding-left: 50px;
  padding-top: 50px;
  width: calc((100% / 2) - 100px);
  /* border: 1px solid #aaa; */
}
section.home .shivizexample img {
  padding-top: 75px;
}

#versionContainer {
  position: absolute;
  top: 24pt;
  right: 24pt;
  height: 30px;
  text-align: right;
  color: gray;
  font-size: 8pt;
  font-family: monospace;
}

/* Input */
section.input .right textarea #input {
  resize: none;
  height: calc(100% - 2em);
}

section.input {
  width: 100%;
}
section.input table {
  width: 100%;
  border-collapse: collapse;
}
section.input td {
  vertical-align: top;
  padding: 0;
}
section.input .left {
  width: 240pt;
  min-width: 240pt;
  padding-right: 2em;
}

#input {
  margin: 0;
}

#examples {
  font-size: 10pt;
  padding-bottom: 1em;
}

/* File input */
#file_input {
  position: relative;
}
#file_input li {
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

#file_icon {
  font-family: "Icon";
  font-size: 24pt;
  position: relative;
  top: 10px;
  left: 5px;
  opacity: 0.35;
}
#file_icon:hover {
  opacity: 0.4;
  cursor: default;
}
#file_icon:hover + #file_desc {
  display: block;
  border: 1px solid #aaa;
  width: 170%;
  font-size: 11pt;
}

#file_desc {
  display: none;
  position: absolute;
  left: 90%;
  background-color: #fff;
  padding: .5em;
}

/* Visualization */

/* Ruler */

.axis {
  font-family: source code pro, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
  font-size: 12px;
  line-height: 14px;
  shape-rendering: crispEdges;
}

.y.axis line,
.y.axis path {
  z-index: 120;
  stroke-width: 2px;
  fill: none;
  stroke: rgba(130,130,130,1);
}

#graph .ruler {
  background: rgba(255,255,255,1); /*White*/
  color: rgba(130,130,130,1); /*Gray*/
  font-family: source code pro, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
}
#graph .ruler > div {
  background: rgba(130,130,130,1); /*Gray*/
}

#graph .vRule {
  position: fixed;
  left: 0;
  top: 130px;
  z-index: 2;

}
#graph .corner {
  position: fixed;
  top: 54px;
  left: 0;
  /*height: 70px;*/
  color: rgba(130,130,130,1); /*Gray*/
  z-index: 10;
  text-indent: 1px;
}
#graph .corner span{
  display: block;
  position: absolute;

  font-size: 12pt;
  text-align: end;
  width: 30px;
  height: 30px;
  bottom: 0px;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

#graph .vRule .tickLabel {
  position: absolute;
  right: 0px;
  height: 1px;
  width: 70%;
  text-indent: 1px;
}

g .tick text{
  /*display: block;*/
  /*position: absolute;*/
  
  /*bottom: 10px;
  right: 0px;
  margin-right: 18px;*/
  
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
  /*-webkit-transform-origin: 0 5px 0;
  -moz-transform-origin: 0 5px 0;
  -ms-transform-origin: 0 5px 0;
  -o-transform-origin: 0 5px 0;
  transform-origin: 0 5px 0;*/
  
}

/*   END OF RULER    */

.visualization header {
  position: fixed;
  background: #fff;
  /*padding: 24pt;*/ /*ORIGINAL*/
  /*padding: 18pt 8pt 30pt 24pt;*/
  padding: 18pt 12pt 3pt 24pt;
  top: 0;
  left: 0;
  z-index: 4;
}

.visualization #graph {
  margin-left: 12pt;
}

/* Searchbar */
#searchbar {
  width: auto;
  margin-left: 150pt;
  /*width: calc(100% - 240px);*/
  position: fixed;
  top: 0;
  /*height: 4.5em;*/
  height: 2.25em;
  padding: 1.5em 1.5em 0 0; /* Changed here so it would cover graph timelines */
  /*padding: 2em 0 0 0;*/   /* hostlabels */
  background: #fff;
  z-index: 4;
}

#searchbar #bar {
  height: 24pt;
  width: auto;
  z-index: 1;
}
#searchbar #bar input {
  height: 24pt;
  font-size: 11.25pt;
  margin: 0;
  float: left;
  width: calc(100% - 52pt);
  padding-right: 24pt;
  border-right: none;
}
#searchbar #bar input.empty + .clear {
  display: none;
}
#searchbar #bar input:focus ~ #numFound {
  border-color: #000;
}
#searchbar #bar input.focus ~ #numFound {
  border-color: #000;
}
#searchbar #bar input:focus ~ button {
  border: 1px solid #000;
}
#searchbar #bar input.focus ~ button {
  border: 1px solid #000;
}
#searchbar #bar .clear {
  height: 22pt;
  width: 22pt;
  position: absolute;
  margin-top: 1px;
  /*left: calc(100% - 76pt);*/ /*--ORIGINAL*/
  left: calc(100% - 95pt);
  background: white;
  cursor: pointer;
}
#searchbar #bar .clear div {
  width: 2px;
  height: 14pt;
  background: #04a;
  position: absolute;
  overflow: hidden;
  margin-left: 12pt; /*--ORIGINAL*/
  margin-top: 4pt;
}
#searchbar #bar .clear .one {
  transform: rotate(45deg);
}
#searchbar #bar .clear .two {
  transform: rotate(-45deg);
}
#searchbar #bar .nav {
  display: none;
}
#searchbar #bar #numResults {
  width: 72pt;
}
#searchbar #bar #searchButton {
  width: 52pt;
}
#searchbar #bar #numFound {
  width: 100pt;
  float: left;
  line-height: calc(24pt - 2px);
  text-align: center;
  font-size: 8pt;
  text-transform: uppercase;
  border-width: 1px 0;
  border-style: solid;
  border-color: #aaa;
}
#searchbar #bar button {
  float: left;
  margin: 0;
  width: 24pt;
  height: 24pt;
  padding: 0;
}
#searchbar #bar #prevButton {
  margin-left: -1.5em;
}

#searchbar.results #bar input {
  /*width: calc(100% - 140pt);*/
  width: calc(100% - 52pt);
}
#searchbar.results #bar .clear {
  /*left: calc(100% - 180pt);*/ /*--ORIGINAL*/
  left: calc(100% - 108pt);
}
#searchbar.results #bar .nav {
  display: initial;
}
#searchbar.results #panel {
  width: calc(100% - 88px);
}
#searchbar.results #searchButton {
  display: none;
}

/* Searchbar Panel */
#searchbar #panel circle, #vizContainer svg g circle {
  stroke: #fff;
  stroke-width: 2px;
}

.visualization table.motifResults td line, #searchbar #panel line {
  stroke: lightgrey;
  stroke-opacity: 1;
}

#searchbar #panel {
  display: none;
  width: calc(100% - 52pt + 1px);
  border: 1px solid black;
  border-top: none;
  box-sizing: border-box;
  overflow: hidden;
  padding: .4em;
  background: #fff;
  /* Add button for custom structured search */
  /* Tabs for different searches */
  /* Options for structured search */
}
#searchbar #panel table {
  border-collapse: collapse;
  border-spacing: 0;
}
#searchbar #panel td {
  vertical-align: top;
}
#searchbar #panel svg {
  min-height: 400px;
  padding: .5em 0 0 .5em;
}
#searchbar #panel circle.hover {
  opacity: .6;
  display: none;
  cursor: default;
}
#searchbar #panel .add {
  color: #fff;
  height: 25px;
  width: 25px;
  opacity: .6;
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: .5em 2em 0 0;
}
#searchbar #panel .add:hover {
  opacity: 0.8;
}
#searchbar #panel .add:active {
  opacity: 1;
}
#searchbar #panel .add:disabled {
  display: none;
}
#searchbar #panel .searchTabLinks {
  margin: 0;
  display: table;
  padding: 0 0 .5em 0;
  border-collapse: separate;
  border-spacing: .3em;
}
#searchbar #panel .searchTabLinks a {
  display: block;
  padding: 9px 15px;
  color: #fff;
}
#searchbar #panel .searchTabLinks a:hover {
  text-decoration: none;
}
#searchbar #panel .searchTabLinks li {
  display: table-cell;
  background: #04A;
  opacity: 0.5;
  text-align: center;
}
#searchbar #panel .searchTabLinks li.default {
  opacity: 1;
}
#searchbar #panel .searchTabLinks li.default a {
  color: #fff;
}
#searchbar #panel .structuredSearches {
  margin: -.5em 0 0 -3.5em;
  display: table;
  border-collapse: separate;
  border-spacing: 1em .5em;
}
#searchbar #panel .structuredSearches li {
  display: table-cell;
}
#searchbar #panel .tab {
  margin-left: .5em;
}
#searchbar #panel .predefined {
  margin: .5em 0 0 0;
}
#searchbar #panel .predefined button {
  width: auto;
  margin: 0 0 .4em;
}
#searchbar #panel .out {
  font-size: 10pt;
  margin-left: .5em;
}
#searchbar #panel .out dt {
  margin: 1em 0 .2em;
}

#searchbar #sliderGroup{
  margin-top: 10px;
}

#searchbar #sliderGroup #leftZoom{
  float: left;
  text-align: center;
  width: 5%;
  height: 100%;
}

#searchbar  #sliderGroup #sliderContainer{
  display: inline-block;
  margin: 0 auto;
  width: 90%;
}

#searchbar #sliderGroup #rightZoom{
  float: right;
  text-align: center;
  width: 5%;
  height: 100%;
}

svg {
  font: 10px sans-serif;
  font-family: Helvetica;
  color: black;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#vizContainer {
  /*margin-top: 4em;*/ /*--ORIGINAL*/
  margin-top: 1em;
  white-space: nowrap;
}
#vizContainer svg {
  vertical-align: top;
  margin-top: 80px;
}
#vizContainer svg:last-child {
  padding-right: 240px;
}
#vizContainer svg g text { /*TEXT INSIDE THE COLLAPSED NODES*/
  text-anchor: middle;
  font-size: 8pt;
  fill: #fff;
  dominant-baseline: central;
  pointer-events: none;
}

#vizContainer svg text { /*TEXT INSIDE THE COLLAPSED NODES*/
  text-anchor: middle;
  font-size: 12pt;
  fill: #999;
  dominant-baseline: central;
  pointer-events: none;
}

#vizContainer svg g rect {
  fill: transparent;
}
#vizContainer svg rect.box {
  fill: #ddd;
}

/* hostBar */
#hostBar {
  position: fixed; /*--ORIGINAL*/
  background: white;
  z-index: 2;
  padding-top: 32pt; /* leave room for hostlabels */
}

#hostBarSeparator {
  height: 62px;
  display: inline;
  border-right: 2px dotted rgba(3, 3, 3, 0.24);
  position: fixed;
  margin-top: -2em;
}

/* View drop-downs and labels */
#viewSelectDiv {
  margin-bottom: 1em;
}

#viewLabelDiv {
  margin-bottom: 1em;
}

#viewLabelL {
  position: relative;
  font-family: sans-serif;
  opacity: 0.8;
  margin-right: 0.5em;
}

#viewLabelR {
  position: fixed;
  right: 240px;
  font-family: sans-serif;
  opacity: 0.8;
  margin-top: -2.2em;
  margin-right: 0.5em;
}

#viewSelectL {
  position: relative;
  padding: 0.15em;
  font-family: sans-serif;
  opacity: 0.8;
  /*margin-left: 1.5em;*/
}

#viewSelectR {
  position: relative;
  padding: 0.15em;
/*  right: 260px;*/
  font-family: sans-serif;
  opacity: 0.8;
  /*margin-right: 0.8em;*/
}

#viewSeparator {
  display: inline-block;
  border-right: 2px dotted rgba(3, 3, 3, 0.24);
  position: relative;
  z-index: 2;
  /* make this div sit on top of the hostBar div */
}

/* Arrow icons for clustering */
#labelIconR, #labelIconL {
  font-family: "Icomoon";
  margin-left: .5em;
  margin-right: .5em;
}

#labelIconL {
  float: left;
  transform: rotate(180deg);
}

#selectIconL {
  font-family: "Icomoon";
  float: left;
  margin-right: -1em;
  margin-left: 0.2em;
  margin-top: 0.2em;
  transform: rotate(180deg);
}

#selectIconR {
  font-family: "Icomoon";
  position: fixed;
  right: 250px;
  margin-top: 0.2em;
}

#clusterIconR, #clusterIconL, #motifIcon {
  font-family: "Icomoon";
  font-size: 10px;
  margin-right: -1em;
  float: left;
}

#clusterIconL {
  transform: rotate(180deg);
}

#clusterImg {
  position: relative;
  top: -7.1em;
  padding-right: 1.75em;
}

/* Motif icon */
/* Styling for execution labels in clusters */
.execFade {
  opacity: 0.3;
  color: #676767;
}

.indent {
  margin-left: 1.5em;
  font-size: 9.5pt;
}

.baseIndent {
  margin-left: 1.5em;
}

.baseIcon {
  margin-top: 3.3em;
  position: absolute;
}

.shiftDown {
  margin-top: 4em;
}

/* Sidebar */

#sidebar .sidebarTab{
  border: 2px solid #EEEEEE;
  padding: 2px;
  display: none; /*Hidden by default*/
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  /*background: #EEEEEE;*/
}

#nodeInfoTab {
  border: none !important;
  outline: 2px solid #EEEEEE;
  overflow: hidden;
  padding-bottom: 60px;
  text-overflow: ellipsis;
}

#sidebar .sidebarTab.show{
  opacity: 1;
  max-height: 800px;
  display: block; 
}

#sidebar .separator{
  background: #FFF;
  border-top:2px solid #777777;
  border-right:2px solid #333333;
  border-bottom:2px solid #444444;
  border-left:2px solid #777777;
  cursor: pointer;
  text-align: center;
  font-family: Helvetica;
  font-size: 9pt;
  padding: 1em 0;
  margin: 3px 0;
  color: #999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
}

#sidebar .separator:after {
  content: "\227B"; /*> Mathematical sign Unicode character*/
  /*content: "\2228";*/ /*v Mathematical sign*/
  /*content: "\2796";*/ /* Unicode character for "minus" sign (-) */
  font-size: 13px;
  color: #777;
  /*vertical-align: center;*/
  /*float: right;*/
  float: left;
  margin-left: 5px;
}

#sidebar .separator.active:after {
  content: "\22CE"; /*another v Mathematical sign*/
  /*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
}

#sidebar .fields, .dialog .info {
  font-size: 10pt;
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  overflow: hidden;
}

#sidebar .tdiff, .dialog .info {
  font-size: 10pt;
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  overflow: hidden;
}

#sidebar .fields .title, .dialog .info .title {
  text-align: left;
  vertical-align: top;
  padding-right: 1em;
  white-space: nowrap;
}

#sidebar .tdiff .title, .dialog .info .title {
  text-align: left;
  vertical-align: top;
  padding-right: 1em;
  white-space: nowrap;
}

#sidebar .fields .value, .dialog .info .value {
  /*word-break: break-all;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar .tdiff .value, .dialog .info .value {
  /*word-break: break-all;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

/* To help make the line connecting the two
   circles on the sidebar info */
#sidebar .info {
  position: absolute;
  padding: 0 2em 0 0;
  height: auto;
  overflow: auto;
  z-index: -4;
}

#sidebar svg line{
    z-index: -30;
}
#sidebar .nodeConnection {
  position: relative;
  z-index: 3;
}

#sidebar {
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 2;
}
#sidebar .diffButton {
  height: 24pt;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2em;
}
#sidebar .pairwiseButton {
  height: 24pt;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}
#sidebar .event {
  word-break: break-all;
  margin-bottom: 1em;
}
#sidebar .hidden {
  margin-top: 2em;
}
#sidebar .hidden svg {
  float: left;
  margin-top: 1em;
}

#sidebar .chart {
  overflow-x: auto;
  overflow-y: hidden;
}
#sidebar .axis path, .axis line {
  fill: none;
  stroke-width: 1;
  stroke: dimgrey;
  shape-rendering: crispEdges;
}
#sidebar .axis text {
  font-family: sans-serif;
  font-size: 14px;
}

.d3-tip, .toolTip{
  line-height: 1;
  font-size: 14px;
  padding: 7px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0px;
  z-index: 10000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after, .toolTip:after{
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after, .toolTip:after{
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}
svg#defs {
  height: 0;
  width: 0;
  position: absolute;
}

/* Popup dialog */
.dialog {
  width: 100px;
  background: #eee;
  font-family: sans-serif;
  position: absolute;
  z-index: 2;
  display: none;
}
.dialog.host {
  position: fixed;
  z-index: 3;
}
.dialog.host button:not(.hb) {
  display: none;
}
.dialog .hidden {
  z-index: 3;
}
.dialog .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: inherit;
  border-bottom-color: transparent;
}
.dialog.top .triangle {
  width: 0;
  height: 0;
  top: -20px;
  left: 40px;
  border-style: solid;
  border-width: 10px;
  border-color: inherit;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}
.dialog .name, .dialog .nameBottom {
  margin: 1em;
  color: white;
  word-break: break-all;
}
.dialog button {
  margin: 0;
  background: rgba(0, 0, 0, 0);
}
.dialog button:hover {
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
}
.dialog button:active {
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
}
.dialog:not(.host) button.hb {
  display: none;
}

.hostConstraintDialog {
  width: 150px;
  /* Make the surrounding div have a height of 0px so that it won't block other boxes from being clicked on */
  height: 0px;
  font-family: sans-serif;
  position: fixed;
  z-index: 4;
}

.hostConstraintDialog #hostConstraint {
  color: #737373;
}

.hostConstraintDialog #hostConstraint {
  margin-top: 1.5em;
}

/* Error box */
#errorbox {
  display: none;
  width: 50%;
  box-sizing: border-box;
  position: fixed;
  top: 200px;
  left: 25%;
  z-index: 99;
  background: #c44;
  color: #fff;
  padding: 1em;
}
#errorbox pre {
  overflow: auto;
  padding: .4em;
  background: #FDD;
  color: #444;
}
#errorbox pre:last-child {
  margin-bottom: 0;
}
#errorbox pre + br {
  display: none;
}

#errorcover {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: rgba(255, 255, 255, 0.8);
}


input[type=range]{
  cursor: pointer;
}

input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}


input[type=range] + .thumb.active {
  border-radius: 50% 50% 50% 0;
}

input[type=range] + .thumb.active .value {
  color: #fff;
  margin-left: -1px;
  margin-top: 8px;
  font-size: 10px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color:#0144aa;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: -5px 0 0 0;
  transition: .3s;
}
