These files include the detail control strategies such as, random click, gold standard question, 
and conflicts, each row represent one submission for one task by one participant. For column "GoldStandard", empty value means gold standard question is not triggered in that HIT.<br>
<a href="https://docs.google.com/spreadsheets/d/1LvfPd4p0XRtFTiXH6UyRk5bXHSisN0fvni6wYtjmPSk/edit?usp=sharing">Control strategies in MT1b</a><br>
<a href="https://docs.google.com/spreadsheets/d/1ZDwnqy-yMapdQavCgsZcWeLMaaoNJCQgJMoVo2vc8d0/edit?usp=sharing">Control strategies in MT2a</a><br>
<a href="https://docs.google.com/spreadsheets/d/1lephwdBjDegbOPzFIpswSHuu00yjzTl1SBCinwDf91g/edit?usp=sharing">Control strategies in MT2b</a><br>