
<script>
function mouseOver1() {
    document.getElementById('methodDescription1').style.display = 'block';
}

function mouseOut1() {
	document.getElementById('methodDescription1').style.display = 'none';
}
function mouseOver2() {
	document.getElementById('methodDescription2').style.display = 'block';
}

function mouseOut2() {
	document.getElementById('methodDescription2').style.display = 'none';
}
</script>


<section class="container" id="interface" style="margin-bottom:15px; padding: 10px 10px; font-family: Verdana, Geneva, sans-serif; color:#333333; font-size:0.9em;">
<div class="row col-xs-12 col-md-12"><!-- Instructions -->
<div class="panel panel-primary">
<div class="panel-heading"><strong>Instructions</strong></div>

<div class="panel-body">
<ul>
	<li>
	<h5>A specification is a formal statement about program behavior. A temporal property is a kind of specification that constraints the sequence of events that can or cannot occur during&nbsp;an execution of a program. In this HIT events will be function calls in the Java programming language. You will first consider the documentation for a Java library and then use this&nbsp;documentation to check the validity of a temporal property related to the library. Each HIT contains 6 properties for you to verify.</h5>
	</li>
	<li>
	<h5>An example of a true temporal property: close() is always preceded by open(). This property is true because to close a file the file must first be open (otherwise there is an error).</h5>
	</li>
	<li>
	<h5>An example of a false temporal property: open() is always followed by close(). This property is false because an error does not necessarily occur if close() is not called after open(), even if it is good programming practice to do so.&nbsp;Note that a property is true ONLY IF a program that does not not follow the property constraint may results in an error (e.g., an Exception in Java).</h5>
	</li>
	<li>
	<h5>Questions in table are used to test your understanding of specification. You can participate our survey only if you pass the qualification test.</h5>
	</li>
</ul>
</div>
</div>
<!-- End Instructions --><!-- Survey Body --><label>Methods used in the questions are described in the linked document, you can hover over on the methods to see the descriptions</label><br />
<label><a href="https://docs.oracle.com/javase/7/docs/api/java/util/HashSet.html" target="_blank">Document for HashSet</a> </label>

<h5 id="method1" onmouseout="mouseOut1()" onmouseover="mouseOver1()">clear()</h5>

<pre id="methodDescription1" style="display: none">
public void clear()
Removes all of the elements from this set. The set will be empty after this call returns.
Specified by:
clear in interface Collection<E>
Specified by:
clear in interface Set<E>
Overrides:
clear in class AbstractCollection<E>
</pre>

<h5 id="method2" onmouseout="mouseOut2()" onmouseover="mouseOver2()">size()</h5>

<pre id="methodDescription2" style="display: none">
public Object clone()
Returns a shallow copy of this HashSet instance: the elements themselves are not cloned.
Overrides:
clone in class Object
Returns:
a shallow copy of this set
See Also:
Cloneable
</pre>

<section>
<table align="center" border="1" width="100%">
	<tbody>
		<tr>
			<th>Question</th>
			<th>Your Answer</th>
			<th>How confident are you</th>
		</tr>
		<tr>
			<td>1. clear() is always followed by size()?</td>
			<td><input name="Question1" style="display:none" type="text" value="Question_${property1}" /><input name="q1" type="radio" value="True" />True<br />
			<input name="q1" type="radio" value="False" />False</td>
			<td><input name="Confident1" style="display:none" type="text" value="Confident_${property1}" /><select name="c1"><option selected="selected" value="select one">- select one -</option><option value="Very confident">Very confident</option><option value="Somewhat confident">Somewhat confident</option><option value="Not sure">Not sure</option><option value="Somewhat not confident">Somewhat not confident</option><option value="Not confident at all">Not confident at all</option> </select></td>
		</tr>
		<tr>
			<td>2. clear() is always immediately followed by size()?</td>
			<td><input name="Question2" style="display:none" type="text" value="Question_${property2}" /><input name="q2" type="radio" value="True" />True<br />
			<input name="q2" type="radio" value="False" />False</td>
			<td><input name="Confident2" style="display:none" type="text" value="Confident_${property2}" /><select name="c2"><option selected="selected" value="select one">- select one -</option><option value="Very confident">Very confident</option><option value="Somewhat confident">Somewhat confident</option><option value="Not sure">Not sure</option><option value="Somewhat not confident">Somewhat not confident</option><option value="Not confident at all">Not confident at all</option> </select></td>
		</tr>
		<tr>
			<td>3. clear() is never followed by size()?</td>
			<td><input name="Question3" style="display:none" type="text" value="Question_${property3}" /><input name="q3" type="radio" value="True" />True<br />
			<input name="q3" type="radio" value="False" />False</td>
			<td><input name="Confident3" style="display:none" type="text" value="Confident_${property3}" /><select name="c3"><option selected="selected" value="select one">- select one -</option><option value="Very confident">Very confident</option><option value="Somewhat confident">Somewhat confident</option><option value="Not sure">Not sure</option><option value="Somewhat not confident">Somewhat not confident</option><option value="Not confident at all">Not confident at all</option> </select></td>
		</tr>
		<tr>
			<td>4. clear() is never immediately followed by size()?</td>
			<td><input name="Question4" style="display:none" type="text" value="Question_${property4}" /><input name="q4" type="radio" value="True" />True<br />
			<input name="q4" type="radio" value="False" />False</td>
			<td><input name="Confident4" style="display:none" type="text" value="Confident_${property4}" /><select name="c4"><option selected="selected" value="select one">- select one -</option><option value="Very confident">Very confident</option><option value="Somewhat confident">Somewhat confident</option><option value="Not sure">Not sure</option><option value="Somewhat not confident">Somewhat not confident</option><option value="Not confident at all">Not confident at all</option> </select></td>
		</tr>
		<tr>
			<td>5. clear() always precedes size()?</td>
			<td><input name="Question5" style="display:none" type="text" value="Question_${property5}" /><input name="q5" type="radio" value="True" />True<br />
			<input name="q5" type="radio" value="False" />False</td>
			<td><input name="Confident5" style="display:none" type="text" value="Confident_${property5}" /><select name="c5"><option selected="selected" value="select one">- select one -</option><option value="Very confident">Very confident</option><option value="Somewhat confident">Somewhat confident</option><option value="Not sure">Not sure</option><option value="Somewhat not confident">Somewhat not confident</option><option value="Not confident at all">Not confident at all</option> </select></td>
		</tr>
		<tr>
			<td>6. clear() always immediately precedes size()?</td>
			<td><input name="Question6" style="display:none" type="text" value="Question_${property6}" /><input name="q6" type="radio" value="True" />True<br />
			<input name="q6" type="radio" value="False" />False</td>
			<td><input name="Confident6" style="display:none" type="text" value="Confident_${property6}" /><select name="c6"><option selected="selected" value="select one">- select one -</option><option value="Very confident">Very confident</option><option value="Somewhat confident">Somewhat confident</option><option value="Not sure">Not sure</option><option value="Somewhat not confident">Somewhat not confident</option><option value="Not confident at all">Not confident at all</option> </select></td>
		</tr>
	</tbody>
</table>
<br><br>
<div align = "center"><input type="submit" name="submit" value="submit"></div>
</section>
</div>
</section>
<style type="text/css">fieldset { padding: 10px; background:#fbfbfb; border-radius:5px; margin-bottom:5px; }
</style>

 