
This file includes the detail for each submission in study CSF_HSa, each row represent one property.
<br>
Explanations for each column:


<ul class="col-xs-12 col-sm-11 col-sm-push-1">
        <li>WorkerID: participant's worker id issued by Amazon obfuscated by us using our own hashmap function.</li>
        <li>Library: The library we explored in Java.</li>
        <li>Method1: The first method in the LTL property.</li>
        <li>Property: LTL properties include "AF","NF","AP","AIP","AIF","NIF". </li>
        <li>Method2: The second method in the LTL property.</li>
        <li>Answer: Participant's answer for certain property.</li>
        <li>Confidence: Participant's confidence for the answer.</li>
        <li>GroundTruth: The real answer for that property.</li>
      </ul>











<br>
<a href="https://docs.google.com/spreadsheets/d/1Mdm1dmjR0hyBDFrGCJi3kH5TnYaHRj0rwOfNnXUMiqg/edit?usp=sharing">Experimental raw data for CSF_HSa</a>