<h3>Task Design</h3>
Table II summarizes how the design of the MT2a and MT2b
studies differs from MT1a and MT1b. The only difference
between MT1b and the MT2 studies lies in the initial answers
(Table II) to the task questions. As RQ2 is intended to determine
how well the crowd can improve on machine-mined specs from
SpecForge, the initial answers provided to the workers are based
on the SpecForge answers. If SpecForge answered true, then
the Machine's Answer (Figure 2) is true, otherwise false.

<div align = "center">
<img src="table2.png"  alt="" style="width:404px;height:628px;">
</div>


