

<h2>Results</h2>

The metrics for MT2a, MT2b, and SpecForge are shown
in Table III. MT2a and MT2b both show an improvement in
accuracy over SpecForge by nearly 1%, demonstrating that the
crowd is indeed capable of improving machine-mined specs
using documentation. For recall, the gains are 18% to 27%.

<p>
<div align = "center">
<img src="table3.png"  alt="" style="width:554px;height:328px;">
</div>

For MT2a, when the crowd was wrong, for 20 properties,
it was because SpecForge was wrong and the crowd agreed.
There were no properties for which SpecForge was correct and
the crowd incorrectly disagreed.
<p>
MT2b was a strict replication of MT2a with an independent
sample, and reported the exact same accuracy. However, the
fp and fn rates are slightly different. Comparing against
SpecForge again, when the crowd was wrong, for 15 properties,
it was because SpecForge was wrong and the crowd incorrectly
agreed. For five properties, SpecForge was correct and the
crowd incorrectly disagreed. These are shown in Table IV. The
Method1 and Method2 columns identify the methods being
evaluated with the property type abbreviation inbetween. The
Crowd and SpecForge answers are reported; in all cases, the
crowd reports a false positive. This list may identify points
in the documentation that are confusing, leading the crowd to
come to a wrong consensus on how the API should be used,
in particular, remove() and contains() appear in four of the
five properties. Although, we also note that NIF is the least
accurate property type in all the CrowdSpecForge studies (i.e.,
91.72% accurate for both MT2a and MT2b), so we cannot rule
out possible confusion about these specific property types.
<p>
<div align = "center">
<img src="table5.png"  alt="" style="width:504px;height:228px;">
</div>
To determine the impact on accuracy of selecting a larger
number of responses per property, we consider the first nine
responses for each property from MT2a and MT2b and re-run
the analysis. Note that this is reasonable given the samples
of participants are independent. The MT2agg row in Table III
shows that after combining the responses, we achieve a slightly
better accuracy of 98.13% versus 98.03%. The other metrics,
fp, fn, precision, and recall, are roughly averaged between
the results of the original two studies, but the gains in recall
are 21%, as compared to SpecForge on its own.

