
This file includes the detail for each submission in study MT2b, each row represent one property.
<br>
Explanation for each column:


<ul class="col-xs-12 col-sm-11 col-sm-push-1">
        <li>WorkerID: participant's worker id issued by Amazon obfuscated by us using our own hashmap function.</li>
        <li>Library: The library we explored in Java.</li>
        <li>Method1: The first method in the LTL property.</li>
        <li>Property: LTL properties include "AF","NF","AP","AIP","AIF","NIF". </li>
        <li>Method2: The second method in the LTL property.</li>
        <li>SubmitTime: The time slot participants submit the task.</li>
        <li>Answer: Participant's answer for certain property (whether agree or disagree with SpecForge's answer).</li>
		<li>Confidence: Participant's confidence for the answer.</li>
        <li>Explanation: Participant's explanation for the answer.</li>
        <li>SpecForge: SpecForge's answer for certain property.</li>
        <li>GroundTruth: The real answer for that property.</li>
      </ul>
<a href="https://docs.google.com/spreadsheets/d/18L5ypGE3JRLv_zH7D9UAHDnqbWwcqqmh678GCqA7kFU/edit?usp=sharing">Experimental raw data for MT2b</a>