

This file includes demographic and qualification test information for all the participants who submitted at least one valid submission in all the studies 
(There are some participants appear in HIT data files and control strategy files but not in participants data file, this is caused by the case that all the submissions of those participants are rejected).<br>

<ul class="col-xs-12 col-sm-11 col-sm-push-1">
        <li>For "CSBackground" column, MT1b has directly "Yes/No" respond, while in MT1b, MT2a, and MT2b if anyone of the following items is selected
 "Degree in IT", "Degree in Computer Science", "Job require programming" that means the participant has CS background, otherwise, does not.</li>
        <li>For "Question6" and "Question7" columns, MT1a is "N/A" since we only have 5 questions in the qualification of MT1a.</li>
      </ul>

<a href="https://docs.google.com/spreadsheets/d/1uSojhGbueaOShjsElRnTL4fLNT0M4kGocM2tUx3GyRU/edit?usp=sharing">Participants</a>
