
<script>
function mouseOver1() {
    document.getElementById('methodDescription1').style.display = 'block';
}

function mouseOut1() {
	document.getElementById('methodDescription1').style.display = 'none';
}
function mouseOver2() {
	document.getElementById('methodDescription2').style.display = 'block';
}

function mouseOut2() {
	document.getElementById('methodDescription2').style.display = 'none';
}
</script>
<p id="criteria" style="display:none">0</p>

<p id="num" style="display:none">0</p>
<link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
<div align="center" id="passInfo" style="display:none; font-family:arial;font-size:30px;">Congratulations, you are eligible for our HIT. Please remember your verification code <strong>hit</strong>, which is needed for any of our program statements verification HITs that could be found by typing &quot;Peng Sun&quot; in the HIT search bar.
<h1><font color="red">Click &quot;submit&quot; to get paid!</font></h1>
</div>

<div align="center" id="failInfo" style="display:none; font-family:arial;font-size:30px;">Your answer is not satisfied. Thanks for your effort</div>

<section class="container" id="Survey" style="display:block; margin-bottom:15px; padding: 10px 10px; font-family: Verdana, Geneva, sans-serif; color:#333333; font-size:0.9em;">
<div class="row col-xs-12 col-md-12"><!-- Instructions -->
<div class="panel panel-primary">


<div class="panel-heading"><strong>Instructions</strong></div>

<div class="panel-body">
<ul>
	<li>
	<h6><span style="font-family:verdana,geneva,sans-serif;">A specification is a formal statement about program behavior. A temporal property is a kind of specification that constraints the sequence of events that can or cannot occur during an execution&nbsp;of a program.&nbsp;</span></h6>
	</li>
	<li>
	<h6><span style="font-family:verdana,geneva,sans-serif;">An example of a true temporal property: close() is always preceded by open(). This property is true because to close a file the file must first be open (otherwise there is an error).</span></h6>
	</li>
	<li>
	<h6><span style="font-family:verdana,geneva,sans-serif;">An example of a false temporal property: open() is always followed by close(). This property is false because an error does not necessarily occur if close() is not called after open(), even though it is good programming practice to do so. Note that a property is true ONLY IF a violation of the property results in an error (e.g., an Exception in Java) or the violation will never happen in the program.</h5>
	</li>
	<li>
	<h6><span style="font-family:verdana,geneva,sans-serif;">Questions in the table are used to test your understanding of these instructions and the APIs. You must pass the qualification test to complete the HITs in this group. You will pass the test if you correctly answer over 3 out of 5 questions in the table.</span></h6>
	</li>
	<li>
	<h6><span style="font-family:verdana,geneva,sans-serif;">Important: The questions in the table can only be answered once - you are not able to change your answer once true or false is selected.&nbsp;</span></h6>
	</li>
	<li>
	<h6><span style="color:#FF0000;"><span style="font-family:verdana,geneva,sans-serif;">You must answer all questions. A good faith effort is required for payment.</span></span></h6>
	</li>
</ul>
</div>
</div>
<!-- End Instructions --><!-- Survey Body --><label>Please answer the following questions.</label>

<fieldset style="display:none">
<div class="input-group"><input class="form-control" name="Demographic1" size="120" type="text" value="Demographic1" /></div>
</fieldset>

<fieldset><label>What is your gender? </label>

<div class="radio"><label><input name="Gender" type="radio" value="Male" />Male </label></div>

<div class="radio"><label><input name="Gender" type="radio" value="Female" />Female </label></div>

<div class="radio"><label><input name="Gender" type="radio" value="Secret" />Prefer not to say </label></div>
</fieldset>

<fieldset style="display:none">
<div class="input-group"><input class="form-control" name="Demographic2" size="120" type="text" value="Demographic2" /></div>
</fieldset>

<fieldset>
<div><label>What is your age?</label> <input class="form-control" name="Age" onkeypress="return IsNum(event)" size="120" type="text" /></div>
</fieldset>

<fieldset style="display:none">
<div class="input-group"><input class="form-control" name="Demographic3" size="120" type="text" value="Demographic3" /></div>
</fieldset>

<fieldset><label>Which of the following best describes your highest achieved education level? </label> <select class="form-control" name="Education"><option selected="selected" value="select one">- select one -</option><option value="Some High School">Some High School</option><option value="Some college, no degree">Some college, no degree</option><option value="Associates degree">Associates degree</option><option value="Bachelors degree">Bachelors degree</option><option value="Graduate degree (Masters, Doctorate, etc.)">Graduate degree (Masters, Doctorate, etc.)</option> </select></fieldset>

<fieldset style="display:none">
<div class="input-group"><input class="form-control" name="Demographic4" size="120" type="text" value="Demographic4" /></div>
</fieldset>

<fieldset><label>Do you have a degree in IT, computer science, or a related field, or does your job require programming? </label>

<div class="radio"><label><input name="degree" type="radio" value="Yes" />Yes</label></div>

<div class="radio"><label><input name="degree" type="radio" value="No" />No</label></div>
</fieldset>

<fieldset style="display:none">
<div class="input-group"><input class="form-control" name="Demographic5" size="120" type="text" value="Demographic5" /></div>
</fieldset>

<fieldset><label>How familiar are you with Java programming language? </label> <select class="form-control" name="Familiarity"><option selected="selected" value="select one">- select one -</option><option value="Very familiar">Very familiar</option><option value="Somewhat familiar">Somewhat familiar</option><option value="Not sure">Not sure</option><option value="Somewhat not familiar">Somewhat not familiar</option><option value="Not familiar at all">Not familiar at all</option> </select></fieldset>
<label>Methods used in the questions are described in the linked document, you can hover over on the methods to see the descriptions</label>

<h5 id="method1" onmouseout="mouseOut1()" onmouseover="mouseOver1()">BufferedInputStream()</h5>

<pre id="methodDescription1" style="display: none">
public BufferedInputStream(InputStream in)
Creates a BufferedInputStream and saves its argument, the input stream in, for later use. An internal buffer array is created and stored in buf.
Parameters:
in - the underlying input stream.</pre>

<h5 id="method2" onmouseout="mouseOut2()" onmouseover="mouseOver2()">close()</h5>

<pre id="methodDescription2" style="display: none">
public void close()
           throws IOException
Closes this input stream and releases any system resources associated with the stream. Once the stream has been closed, further read(), available(), reset(), or skip() invocations will throw an IOException. Closing a previously closed stream has no effect.
Specified by:
close in interface Closeable
Specified by:
close in interface AutoCloseable
Overrides:
close in class FilterInputStream
Throws:
IOException - if an I/O error occurs.
See Also:
FilterInputStream.in</pre>




<section>
<table align="center" border="1" width="100%">
	<tbody>
		<tr>
			<th>Documentation Link</th>
			<th>Question</th>
			<th>Your Answer</th>
		</tr>
		<tr>
			<td rowspan="2"><label><a href="https://docs.oracle.com/javase/7/docs/api/java/io/BufferedInputStream.html" target="_blank">BufferedInputStream</a> </label></td>
			<td>BufferedInputStream() is always followed by close()?</td>
			<td id="hiddenButton1" style="visibility:visible"><input id="Answer1" name="Question1" style="display:none" type="text" value="Question1.False" /><input name="q1" onclick="judge(1)" type="radio" value="True" />True<br />
			<input name="q1" onclick="judge(1)" type="radio" value="False" />False</td>
		</tr>
		<tr>
			<td>BufferedInputStream() always precedes close()?</td>
			<td id="hiddenButton2" style="visibility:visible"><input id="Answer2" name="Question2" style="display:none" type="text" value="Question2.True" /><input name="q2" onclick="judge(2)" type="radio" value="True" />True<br />
			<input name="q2" onclick="judge(2)" type="radio" value="False" />False</td>
		</tr>
		<tr>
			<td rowspan="3"><label><a href="https://docs.oracle.com/javase/7/docs/api/java/util/ArrayList.html" target="_blank">ArrayList</a> </label></td>
			<td>ArrayList() is always immediately followed by remove()?</td>
			<td id="hiddenButton3" style="visibility:visible"><input id="Answer3" name="Question3" style="display:none" type="text" value="Question3.False" /><input name="q3" onclick="judge(3)" type="radio" value="True" />True<br />
			<input name="q3" onclick="judge(3)" type="radio" value="False" />False</td>
		</tr>
		<tr>
			<td>ArrayList() always precedes remove()?</td>
			<td id="hiddenButton4" style="visibility:visible"><input id="Answer4" name="Question4" style="display:none" type="text" value="Question4.True" /><input name="q4" onclick="judge(4)" type="radio" value="True" />True<br />
			<input name="q4" onclick="judge(4)" type="radio" value="False" />False</td>
		</tr>
		<tr>
			<td>remove() always immediately precedes iterator()?</td>
			<td id="hiddenButton5" style="visibility:visible"><input id="Answer5" name="Question5" style="display:none" type="text" value="Question5.False" /><input name="q5" onclick="judge(5)" type="radio" value="True" />True<br />
			<input name="q5" onclick="judge(5)" type="radio" value="False" />False</td>
		</tr>
	</tbody>
</table>
<br><br>
<div align = "center"><input type="submit" name="submit" value="submit"></div>
</section>
</div>
</section>
<style type="text/css">fieldset { padding: 10px; background:#fbfbfb; border-radius:5px; margin-bottom:5px; }
</style>
